<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link rel="icon" type="image/png"
        href="../../assets/images/pageimages/imbeddedimages/globalimbeddedimages/armsdealerlogo.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Share+Tech+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globalstyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbarstyles.css') }}">
    {% block styles %} {% endblock %}
</head>


<body>
    {% block body %} {% endblock%}
</body>