{% extends 'partials/base.html' %}
{% block title %}<title>Login - ArmsDealer</title>{% endblock %}

{% block main %}
<main class="container">
    <div class="auth-form">
        <h2 data-translate="authlogin">Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div>
                <label for="identifier" data-translate="authusernameoremail">Username or Email:</label>
                <input type="text" id="identifier" name="identifier" required>
            </div>
            <div>
                <label for="password" data-translate="authpassword">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" data-translate="authloginbutton">Login</button>
        </form>
        <p><a href="{{ url_for('auth.forgot_password') }}" data-translate="authforgotpasswordlink">Forgot password?</a>
        </p>
        <p data-translate="authnoaccount">Don't have an account? <a href="{{ url_for('auth.register') }}"
                data-translate="authregisterhere">Register here</a></p>
    </div>
</main>
{% endblock %}